<div class="detail-container">
  <h2>Detalle de Orden: {{ orderDetail.id }}</h2>
  <div class="card">
    <p><strong>Máquina:</strong> {{ orderDetail.machine }}</p>
    <p><strong>Problema Reportado:</strong> {{ orderDetail.description }}</p>
    <p><strong>Estado Actual:</strong> <span class="status-tag">{{ orderDetail.status }}</span></p>

    <div class="form-group">
      <label for="notes">Registro de Actividades Realizadas:</label>
      <textarea id="notes" [(ngModel)]="orderDetail.executionNotes" placeholder="Describa el mantenimiento realizado..."></textarea>
    </div>

    <div class="actions">
      <button class="btn-start" (click)="startWork()">Iniciar OT</button>
      <button class="btn-close" (click)="closeWorkOrder()">Cerrar y Finalizar OT</button>
    </div>
  </div>
</div>
