<ul class="legend" [attr.aria-label]="'board.legend.title' | translate">
  <li><span class="legend__cell legend__cell--ok"></span>{{ 'board.legend.ok' | translate }}</li>
  <li><span class="legend__cell legend__cell--warn"></span>{{ 'board.legend.warn' | translate }}</li>
  <li><span class="legend__cell legend__cell--down"></span>{{ 'board.legend.down' | translate }}</li>
  <li><span class="legend__cell legend__cell--conflict"></span>{{ 'board.legend.conflict' | translate }}</li>
  <li><span class="legend__today"></span>{{ 'board.legend.today' | translate }}</li>
</ul>
